.main{
	max-width: 75%;
	@media only screen and (max-width: 415px) {
		max-width: 100%;
		margin-top: -90px;
	}
	margin-left: auto;
	justify-content: center;
	margin-right: auto;
	margin: auto;
	position: relative;
	z-index: 500;
	.content{
		width: 100%;
		display: flex;
		.left{
			flex: 1;
			.Card{
				padding: 10px 30px;
				background: #fff;
				border: 2px solid  #fff;
				//overflow: hidden;
				border-radius: 5px;
				position: relative;
			}
		}
		.right{
			flex: 2;

		}
	}
}

.title{
	font-weight: bold;
	color: #24b47e;
	margin-top: 20px;
	@media only screen and (max-width: 415px) {
		margin-top: 10px;
		font-size: 16px;
	}
	margin-bottom: 20px;
	font-size: 20px;
}

.rowContact{
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	width: 100%;
	.iconContainer{
		flex:1;
		justify-content: center;
	}
	.infoContainer{
		flex: 2;
		justify-content: center;
    display: flex;
		.info{
			color: #525f7f;
			font-weight: bold;
			font-size: 16px;
		}
	}
}

.container{
	padding: 20px;
}

.body{
	font-weight: 400;
	font-size: 17px;
	line-height: 28px;
	color: #525f7f;
	@media only screen and (max-width: 415px) {
	font-size: 14px;
  line-height: 24px;
	}
}

.infoExperience{
	font-weight: bold;
	padding-right: 5px;
}

li{
	padding: 10px;
	@media only screen and (max-width: 415px) {
		padding: 5px;
	}
}

.square{
	height: 10px;
	width: 10px;
	display: inline-block;
	background-color: #4553ff;
}

.company{
	font-weight: bold;
	color: #4553ff;
	font-size: 18px;
	padding-left: 5px;
	@media only screen and (max-width: 415px) {
		font-size: 15px;
	}
}

.containerCompany{
	display: flex;
	align-items: center;

}